body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

html, body {
    background-color: #f1ddf3;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

header {
    background-color: #fef1ff;
    padding: 10px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
.page3 {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}
main {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}
div {
    display: block;
    unicode-bidi: isolate;
}

.gallery-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}